<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>


<%= button_to 'Delete App', delete_path, method: :post, class: 'btn btn--fill btn--small btn--color', target: "_blank" %>

<%= link_to 'Manage SEO', content_login_link_path, class: 'btn btn--fill btn--small btn--color', target: "_blank" %>